{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> World News Highlights </title>
    {% endif %}
</head>

<body>
    <!-- Content block -->
    {% block content %}

    <!-- Sources section  -->
    <h3> Popular Sources</h3>
    <ul>

        <li>{{ macro.displayNewsList(general)}}</li>

    </ul>

    <!-- Entertainment  -->
    <h3> Entertainment News </h3>
    <ul>

        <li>{{ macro.displayNewsList(entertainment)}}</li>

    </ul>
    {% endblock%}

</body>

</html>