<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> World News Highlights </title>
    {% endif %}
</head>

<body>
    <!-- Content block -->


    <!-- Sources section  -->
    <h3> News Sources</h3>
    <ul>
        {% for general_category in general %}
        <!-- <li>{{ general_category.name}}</li> -->
        <li><a href="/newsarticle/{{general_category.id}}">{{general_category.name}}</a></li>
        {% endfor %}

    </ul>



</body>

</html>